{% extends "base/base.html" %}
{% load static %}
{% block page_content %}

    <div class="profile">

        <!-- Start Profile Personal Data Section -->
        <div class="profile-data">
            <div class="profile_img">
                <div class="image">

                    {% if not object.profile_picture %}
                        <!-- Profile Image -->
                        <img src="{% static 'images/person.png' %}" alt="img8">
                    {% else %}
                        <img src="{{ object.profile_picture }}" alt="Profile picture">
                    {% endif %}

                </div>
            </div>
            <div class="personal">
                <div class="edit">
                    <!-- User Username -->
                    <p>{{ object.username }}</p>

                    <!-- IF the viewer is the owner of the profile -->
                    {% if is_owner %}
                        <!-- Link to Edit Profile Page -->
                        <a href="{% url 'user edit' pk=object.pk %}">
                            <img class="edit-img" src="{% static 'images/edit-pen-icon-6.jpg' %}" alt="edit button">
                        </a>

                        <!-- Link to Delete Profile Page -->
                        <a href="{% url 'user delete' pk=object.pk %}">
                            <img class="bin-img" src="{% static 'images/icon-remove-22.jpg' %}" alt="bin button">
                        </a>
                        <!-- End IF the viewer is the owner of the profile -->
                    {% endif %}
                </div>
                {% if object.get_full_name %}
                    <h3 class="names">{{ object.get_full_name }}</h3>
                {% endif %}

                {% if object.description %}
                    <div class="data">
                        <i>{{ object.description }}</i>
                    </div>
                {% endif %}

                <!-- User Email Address -->
{#                <p class="email">{{ object.email }}</p>#}

                <!-- User Gender IF Added -->
                {% if object.gender %}
                    <p class="gender"><i>{{ object.gender }}</i></p>
                {% endif %}

                {% if object.favourite_game %}
                    <p class="gender">
                        Favourite Game:
                        <a href="{% url 'game details' pk=object.favourite_game.pk%}">
                            <u>{{ object.favourite_game }}</u>
                        </a>
                    </p>
                {% endif %}

                {% if object.main_device %}
                    <p class="gender">
                        Favourite Game:
                        <a href="{% url 'device details' pk=object.main_device.pk%}">
                            <u>{{ object.main_device }}</u>
                        </a>
                    </p>
                {% endif %}

                {% if object.favourite_genre %}
                    <p class="gender">
                        Most-played Genre:
                        <a href="{% url 'genre details' pk=object.favourite_genre.pk%}">
                            <u>{{ object.favourite_genre }}</u>
                        </a>
                    </p>
                {% endif %}

            </div>
        </div>
        <!-- End Profile Personal Data Section -->
        <hr>
        <!-- Start Last Uploaded Photos Section -->
        <div class="game-photos">
            {% for post in posts %}
                <!-- Link to Last Uploaded game Photo -->
                <a href="{% url 'post details' pk=post.pk %}">
                    <!-- game Photo -->
                    <img src="/media/{{ post.photo }}"
                         alt="game img">
                </a>
            {% endfor %}

        </div>
        <!-- End Last Uploaded Photos Section -->

    </div>
    <!-- End Profile Details Section -->

{% endblock %}
