{% extends "base/base.html" %}
{% load static %}
{% block page_content %}
    <!-- Start Delete Profile Section -->
    <div class="delete-profile">
        <h1>
            Are you sure you want to delete your profile?
        </h1>
{#        <div>#}
{#            <img src="{% static 'images/regret.gif' %}" alt="regret gif">#}
{#        </div>#}
{#        <h2>#}
{#            There's no going back#}
{#        </h2>#}
        <div class="sure-buttons">
            <form method="post" action="{% url 'user delete' pk=object.pk %}">
                <!-- Yes (Delete Profile) Button -->
                <button>Yes</button>
                {% csrf_token %}
            </form>
            <!-- Go Back Button -->
            <a href="{% url 'user details' pk=object.pk %}">Go Back</a>
        </div>
    </div>
    <!-- End Delete Profile Section -->

{% endblock %}
