{% extends "base/base.html" %}
{% block page_content %}


    <div class="edit-delete edit-photo">
        <h2>Add device</h2>

        <form action="{% url 'device add' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {% for field in form %}
                    <tr>
                        <td>{{ field.label }}: </td>
                        <td>
                            <div style="display: inline-block">
                                {{ field }}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <button class="add-btn" type="submit">Submit</button>
        </form>

    </div>

{% endblock %}
