{% extends "base/base.html" %}
{% load static %}

{% block page_content %}
    <div class="game-profile">
        <!-- Start Pet Personal Data Section -->
        <div class="profile">
            <div class="profile-data">
                <div class="profile_img">
                    <div class="image">
                        <!-- Pet URL Image -->
                        <img src="/media/{{ object.image }}" alt="image of {{ object.name }}">
                    </div>
                </div>
                <div class="personal">
                    <div class="edit">
                        <!-- Pet Name -->
                        <p>{{ object.name }}</p>
                        <!-- Pet Edit Button -->
                        {% if has_permissions %}
                            <a href="{% url 'game edit' pk=object.pk %}">
                                <img class="edit-img" src="{% static 'images/edit-pen-icon-6.jpg' %}" alt="edit button">
                            </a>
                            <!-- Pet Delete Button -->
                            <a href="{% url 'genre delete' pk=object.pk %}">
                                <img class="bin-img" src="{% static 'images/icon-remove-22.jpg' %}" alt="bin button">
                            </a>
                        {% endif %}
                    </div>
                    <div class="data">
                        <p><a href="{{ object.developer_site_link }}">
                            {{ object.developer }}
                        </a></p>
                        <p>{{ object.release_date }}</p>
{#                        {% for genre in object.genres %}#}
{#                            <p><a href="{% url 'genre details' pk=genre.pk %}">#}
{#                                {{ genre.name }}#}
{#                            </a></p>#}
{#                        {% endfor %}#}
                        <p>{{ object.genres }}</p>
                        <span>{{ posts_count }} posts</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Pet Personal Data Section -->

        <div class="game-posts">

            <!-- IF Photos Start Pet Photos Post Section -->
            {% if posts_count > 0 %}
                {% for post in posts %}
                    <!-- Start First Pet Photo Post -->
                    {% include 'common/partials/post-item.html' with post=post %}
                    <!-- End  First Pet Photo Post -->
                {% endfor %}
                <!-- IF Photos End Pet Photos Post Section -->
            {% else %}
                <!-- IF NOT Photos Show No Post Image -->
                <img class="no-posts" src="{% static 'images/no_posts.png' %}" alt="no posts image">

            {% endif %}

        </div>
    </div>

{% endblock %}
