{% extends "base/base.html" %}
{% block page_content %}


    <div class="edit-delete edit-photo">
        <h2>Edit Genre</h2>

        <form method="post" action="{% url 'genre edit' pk=object.pk %}" enctype="multipart/form-data">
            Name: <p>{{ form.name }}</p>
            Description: <p><textarea style="height: 200px; width: 500px;" name="description" rows="10"
                                      cols="40">{{ form.description.value }}</textarea></p>
            {% csrf_token %}
            <button class="edit-btn" type="submit">Edit</button>
        </form>

    </div>


{% endblock %}
