{% load static %}
<nav class="navbar">
    <div class="container">
        <div class="logo">
            <!-- Link to Home Page -->
            <a href="{% url 'index' %}">
                <img width="175px" src="{% static '/images/logo-with-name.png' %}" alt="img1">
            </a>

            <!-- Link to Home Page -->
            {#                <a class="home" href="{% url 'index' %}">#}
            {#                    <i>digitalAdventures</i>#}
            {#                </a>#}
        </div>

        <span>{% if user.is_authenticated %}
            Welcome back, <b>{{ user.username }}</b>
        {% endif %}
            </span>

        <div class="nav-links">
            <ul class="nav-group">
                {#                    <li class="nav-item">#}
                {##}
                {#                        <!-- Link to Add game Page -->#}
                {#                        <a href="{% url 'add game' %}">#}
                {#                            <i>Add game</i>#}
                {#                        </a>#}
                {#                    </li>#}
                {#                    <li class="nav-item">#}
                {##}
                {#                        <!-- Link to Add Photo Page -->#}
                {#                        <a href="{% url 'add photo' %}">#}
                {#                            <i>Add Photo</i>#}
                {#                        </a>#}
                {#                    </li>#}

                {#                    {% if request.user.is_authenticated %}#}

                <li class="nav-item">

                    <!-- Link to Profile Page -->
                    {#                        <a href="{% url 'details user' pk=request.user.pk %}">#}
                    {#                            <i>Profile ({{ request.user }})</i>#}
                    {#                        </a>#}
                </li>

                <li class="nav-item">

                    <!-- Link to Profile Page -->
                    {#                        <a href="{% url 'logout user' %}">#}
                    {#                            <i>Log out</i>#}
                    {#                        </a>#}
                </li>

                {#                    {% else %}#}
                {% if not user.is_authenticated %}
                    <li class="nav-item">

                        <!-- Link to Profile Page -->
                        <a href="{% url 'user sign up' %}">
                            <i>Create Account</i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'user sign in' %}">
                            <i>Log In</i>
                        </a>
                    </li>

                {% else %}

                    {% if user.is_superuser or user.is_staff %}
                        <li class="nav-item">
                            <a href="{% url 'genre add' %}">
                                <i>Add Genre</i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'device add' %}">
                                <i>Add Device</i>
                            </a>
                        </li>
                    {% endif %}

                    <li class="nav-item">
                        <a href="{% url 'game add' %}">
                            Add Game
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="{% url 'user details' pk=user.pk %}">
                            Profile
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="{% url 'user sign out' %}">
                            <i>Log Out</i>
                        </a>
                    </li>
                {% endif %}


                {#                    {% endif %}#}
            </ul>
        </div>
    </div>
</nav>